/*********  Variables  ********/

$purp: #6E23FF;
$pink: #FD7DFF;
$sky: #38BEFF;
$midnight: #42526E;



/******************************/


@font-face {
	font-family: 'Rockwell-Bold';
	src: url('assets/fonts/webfonts/Rockwell-Bold.woff2') format('woff2'),
		 url('assets/fonts/webfonts/Rockwell-Bold.woff') format('woff'),
		 url('assets/fonts/webfonts/Rockwell-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Circular Pro';
	src: url('assets/fonts/webfonts/CircularPro-Bold.woff2') format('woff2'),
    	 url('assets/fonts/webfonts/CircularPro-Bold.woff') format('woff'),
		 url('assets/fonts/webfonts/CircularPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Pro';
	src: url('assets/fonts/webfonts/CircularPro-Medium.woff2') format('woff2'),
		 url('assets/fonts/webfonts/CircularPro-Medium.woff') format('woff'),
		 url('assets/fonts/webfonts/CircularPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Pro';
	src: url('assets/fonts/webfonts/CircularPro-Book.woff2') format('woff2'),
		 url('assets/fonts/webfonts/CircularPro-Book.woff') format('woff'),
		 url('assets/fonts/webfonts/CircularPro-Book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	}

@font-face {
  font-family: emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI'),
       local(EmojiSymbols),
       local(Symbola),
       url('font/Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
       url('font/Symbola-Emoji.woff') format('woff'),
       url('font/Symbola-Emoji.ttf') format('truetype');

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

/**************** McDeez's Resets *****************/
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;	box-sizing: border-box;	}
body { font-family: 'Circular Pro', sans-serif;	font-weight: 300; margin: 0; color: $midnight; }
h1, h2, h3, h4, h5, h6, p, ol, ul {	margin: 0;	padding: 0;	line-height: 1em; }
a {text-decoration: none;}

/**************** Global *****************/
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.purp {
	color: $purp;
}

.pink {
	color: $pink;
}

.shadow-box {
	background: #fff;
	box-shadow: 6px 30px 30px rgba(0,0,0,0.1);
}

[class^="col-"] {
	padding: 15px;
}

a {
	position: relative;
	color: #6534ff;


	&:before {
		content: "";
		position: absolute;
		width: 110%;
		transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
		height: 4px;
		bottom: 7px;
		left: -4px;
		background: $pink;
	}
	
	&:hover:before {
	width: 0%;
	}
}

h3 a:before {
	bottom: 10px;
	width: 104%;
}

p {
	font-size: 18px;
	letter-spacing: 0.03em;
	line-height: 1.8em;
	letter-spacing: 0.23px;
	color: #6C798F;

	@media screen and (max-width: 375px) {
		font-size: 16px;
		line-height: 26px;
	}

	&.larger {
		font-size: 20px;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Rockwell-Bold', serif;
}

h1 { font-size: 54px; }
h2 { font-size: 36px; margin-bottom: 20px; }
h3 { font-size: 28px; line-height:1.4em; }
h4 { font-size: 18px; letter-spacing: -0.5px; margin-bottom: 30px; }

@media screen and (max-width: 375px) {
	h1 {
		font-size: 38px;
    	line-height: 48px;
    	letter-spacing: 0.87px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 22px;
		letter-spacing: 0.18px;
	}
}

.gradient-text {
	display: inline-block;
	background: -webkit-linear-gradient(360deg, $pink, $purp);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradBorder {
	padding: 15px;
	position: relative;
	margin: 0 auto;
	height: 1000px;
	max-width: 680px;
	
	.border-top, .border-bottom {
		position: absolute;
		right: 0;
		left: 0;
		height: 4px;
	}
	
	.border-top {
		top: 0;
		background-color: $pink;
		background-image: 
			linear-gradient(to right, transparent 50%, #fff 50%);
		background-size: 20px 7px, 100%;
	}
	
	.border-bottom {
		bottom: 0;
		background-color: $sky;
		background-image: 
			linear-gradient(to right, transparent 50%, #fff 50%);
		background-size: 20px 7px, 100%;
	}

	.border-left, .border-right {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 4px;
		background-image: 
			linear-gradient(to bottom, transparent 50%, #fff 50%), 
			linear-gradient(to bottom, $pink, $purp, $sky);
		background-size: 7px 20px, 100%;
	}
	
	.border-left {
		left: 0;
	}

	.border-right {
		right: 0;
	}
}



/**************** Navigation *****************/
#los-nav {
	width: 100%;
	height: 120px;
	background: #fff;
	position: fixed;
	z-index: 10000000;
	//transition: all 1s cubic-bezier(.39,-0.17,.19,1.38);

	@media screen and (max-width: 768px) {
		height: 90px;
	}

	@media screen and (max-width: 375px) {
		height: 70px;
	}
	
	.container {
	max-width: 1100px;
	margin: 0 auto;
	
		.row {
		display: table;
		height: 100%;
		width: 100%;
		}
	}
	
	.col-logo, .col-link-wrapper  {
		display: table-cell;
		vertical-align: middle;

		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}



	.col-link-wrapper {
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	
	.col-logo span {
		font-family: 'Circular Pro', sans-serif;
		font-weight: 500;
		font-size: 30px;
		position: relative;
		bottom: 2px;
	}
	
	.col-link-wrapper ul {
		list-style: none;
		float: right;

		li {
			display: inline-block;
			margin-left: 40px;
			font-size: 20px;
			font-weight: 500;
		}
	}
}

/**************** Intro Section *****************/
#intro {
	padding: 210px 0 150px;

	@media screen and (max-width: 768px) {
		padding-top: 120px;
	}

	@media screen and (max-width: 375px) {
		padding-top: 100px;
		padding-bottom: 60px;
	}
		
	.container {
		max-width: 1100px;
		margin: 0 auto;
		
		.row {
			display: flex;
			align-items: center;

			@media screen and (max-width: 768px) {
				display: block;
			}
		}
	}
	
	.col-left {
		width: 38%;
		
		.los-image {
			height: 400px;
			width: 400px;

			img {
				width: 100%;

				&.primary {
					@media screen and (max-width: 768px) {
						display: none;
					}
				}

				&.secondary {
					display: none;

					@media screen and (max-width: 768px) {
						display: block;
					}		
				}
			}

			.social-icons {
				padding: 20px 15px 0;

				a:before {
					content: none;
				}

				@media screen and (max-width: 768px) {
					display: flex;
					justify-content: center;
					padding-top: 60px;
				}
			
				img {
					margin-right: 12px;
					max-width: 28px;

					@media screen and (max-width: 768px) {
						margin: 0 12px;
					}
				}
			}
		@media screen and (max-width: 768px) {
			width: inherit;
			max-width: 260px;
			margin: 0 auto;
		}			


		}
	}

	.col-right {
		width: 62%;

		@media screen and (max-width: 768px) {
			padding: 0 60px;
		}

		@media screen and (max-width: 470px) {
			padding: 0 40px;
		}

		@media screen and (max-width: 375px) {
			padding: 0 20px;
		}
	}

	.col-left, .col-right {
		@media screen and (max-width: 768px) {
			display: block; 
	        float: none; 
	        width: 100%;
		}
	}
		
	.intro-text {
		margin-left: 15px;
		font-family: 'Rockwell-Bold', serif;

		@media screen and (max-width: 768px) {
			margin: 0;
		}
	

		h1 { margin-bottom: 30px;
			
			span {
				color: $pink;
			
				&:first-of-type {
					color: $purp;
				}
			}
		}
	}
}

/**************** Portfolio *****************/

#portfolio {
	padding-bottom: 150px;

	@media screen and (max-width: 768px) {
		padding-bottom: 190px;
	}

	@media screen and (max-width: 375px) {
		padding-bottom: 155px;
	}

	.container {
		max-width: 1100px;
		margin: 0 auto;
	
		.row {
			position: relative;
			margin: 0 40px;

			@media screen and (max-width: 375px) {
				margin: 0 20px;
			}
		}
	}

	.gradBorder {
		@media screen and (max-width: 768px) {
			width: 80%;
			height: 1100px;
		}

		@media screen and (max-width: 670px) {
			height: 940px;
		}

		@media screen and (max-width: 570px) {
			height: 880px;
		}

		@media screen and (max-width: 470px) {
			height: 1120px;
		}

		@media screen and (max-width: 375px) {
			background: #fff;
			box-shadow: 6px 30px 30px rgba(0,0,0,0.1);
			height: 930px;
		}

		&> div {
			display: block;

			@media screen and (max-width: 375px) {
				display: none;
			}
		}

	}
	
	.portfolio-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		@media screen and (max-width: 375px) {
			padding: 0;
		}
	
		.portfolio-text {
			width: 79.5%; 
			margin: 65px auto 100px;

			@media screen and (max-width: 768px) {
				width: 62%;
			}
			
			@media screen and (max-width: 375px) {
				width: inherit;
				margin: 90px 0 50px;
			}
		}
	}
	
	.project-container-row {
		display: flex;
		justify-content: space-around;
		//width: 91.5%;
		width: 100%;
		margin: 0 auto;

		@media screen and (max-width: 768px) {
			width: inherit;
			margin: inherit;
		}

		.project {
			//max-width: 280px;
			max-width: 300px;
			margin: 15px;
			position: relative;	

			@media screen and (max-width: 768px) {
				max-width: inherit;
				width: 50%;
			}

			@media screen and (max-width: 470px) {
				margin: 0;
				max-width: inherit;
			}

			&.p1 { 
				@media screen and (max-width: 470px) {
					margin-bottom: 35px;
				}
				svg { transform: rotateZ(6deg) }
			}
			&.p2 { 
				svg { transform: rotateZ(-11deg) }
			}
			&.p3 { 
				svg { transform: rotateZ(7deg) }
			}
			&.p4 { 
				@media screen and (max-width: 470px) {
					text-align: right;
				}
				svg { transform: rotateZ(-3deg) }
			}
			&.p5 { 
				svg { transform: rotateZ(2deg) }
			}
			&.p6 { 
				svg { transform: rotateZ(-6deg) }
			}

			&.p3, &.p6 {
				@media screen and (max-width: 768px) {
					display: none;
				}
			}
			&.p2, &.p5 {
				@media screen and (max-width: 470px) {
					display: none;
				}
			}

			&.p1, &.p4 {
				@media screen and (max-width: 470px) {					
					width: 100%;
				}
				svg {
					@media screen and (max-width: 470px) {
						width: 85%;
					}
				}
			}

			svg {
				width: 100%;
			    transition: transform 0.7s cubic-bezier(.47,0,.25,1);

			    &:hover { transform: rotateZ(0) }

				
			}
		}
	}

	
}

/**************** Roles *****************/


#roles {

	.container {
		position: relative;
		max-width: 980px;
		margin: 0 auto;
		height: 910px;

		@media screen and (max-width: 768px) {
			height: 1150px;
		}

		@media screen and (max-width: 600px) {
			height: 1375px;
		}

		@media screen and (max-width: 375px) {
			height: 1250px;
		}
	}

	.col-roles-pic {
		position: relative;

		@media screen and (max-width: 768px) {
			text-align: center;
			top: -125px;
		}

		svg.roles-pic {
			height: 340px;
			transform: rotateZ(-3deg);
			width: 280px;

			@media screen and (max-width: 1024px) {
				width: 29.5%;
			}

			@media screen and (max-width: 768px) {
				width: 40%;
				height: 320px;
			}

			@media screen and (max-width: 375px) {
				width: 65%
			}
		}
	}

	
	
	svg.roles-gradient-lines {
		position: absolute;
		top: 100px;
		left: -70px;
		width: 440px;
		height: 340px;

		@media screen and (max-width: 1024px) {
			width: 45%;
		}

		@media screen and (max-width: 768px) {
			transform: translateX(-50%);
			left: 50%;
			top: -35px;
			width: 58%;
		}

		@media screen and (max-width: 375px) {
			width: 85%;
			tip: -65%;
		}

	}

	.shadow-box {
		position: absolute;
		width: 720px;
		height: 500px;
		top: 20px;
		left: 50px;

		@media screen and (max-width: 768px) {
			width: 85%;
			height: 800px;
    		transform: translateX(-50%);
    		left: 50%;
		}

		@media screen and (max-width: 375px) {
			width: 92%;
			height: 950px;
		}
	}

	.roles-text {
		position: absolute;
	    top: 120px;
	    right: 40px;
	    max-width: 515px;

	    @media screen and (max-width: 1024px) {
	    	max-width: 52.5%;
	    }

	    @media screen and (max-width: 768px) {
	    	transform: translateX(-50%);
		    left: 50%;
		    right: 0;
		    top: 370px;
		    width: 62%;
		    max-width: none;
	    }

	    @media screen and (max-width: 375px) {
	    	top: 295px;
	    	width: 80%;
	    }
				
		h3 {
			margin-bottom: 30px;
		}

		h4 {
			margin-top: 30px;

			@media screen and (max-width: 600px) {
				position: absolute;
				top: 23px;
				margin: 0;
			}
		}
		
		.first-half, .second-half {
			width: 50%;
			float: left;
			position: relative;

			@media screen and (max-width: 600px) {
				margin: 0 auto;
				width: 90%;
				float: none;
			}

			p {
				@media screen and (max-width: 700px) {
					font-size: 18px;
					line-height: 30px;
				}
			}
		}

		.second-half {
			padding-left: 40px;

			@media screen and (max-width: 600px) {
				padding: 0;
			}
		}
	}

	.rolesBorder-wrap {
		position: absolute;
		margin: 15px 30px;
		top: 230px;
		right: 0;

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		@media screen and (max-width: 600px) {
			margin: 15px 0;
		}

		@media screen and (max-width: 375px) {
			display: none;
		}
	
	
		.gradBorder {
			padding: 15px;
			position: relative;
			margin: 0 auto;
			height: 860px;
			width: 680px;
			z-index: 0;

			@media screen and (max-width: 768px) {
				width: 83%;
			    right: 0px;
			    height: 1070px;
			    position: absolute;
			}

			@media screen and (max-width: 600px) {
				width: 80%;
				height: 1250px;
				right: unset;
				transform: translateX(-50%);
				left: 50%;
			}
			
			.border-top, .border-bottom {
				background-color: $pink;
				background-image: linear-gradient(to right, transparent 50%, #fff 50%);
			}
						
			.border-left, .border-right {
				background-color: $pink;
				background-image: linear-gradient(to bottom, transparent 50%, #fff 50%), 
			}
		}
	}
}

/**************** Philosophy *****************/


#philosophy {

	.container {
		max-width: 980px;
		margin: 0 auto;
		position: relative;
	}

	.shadow-box {
		position: absolute;
		height: 570px;
		width: 920px;
		top: -40px;
		left: -120px;
		min-width: 460px;

		@media screen and (max-width: 1024px) {
			width: 92%;
			transform: translateX(-50%);
			left: 50%;
		}

		@media screen and (max-width: 768px) {
			transform: none;
		    left: 20px;
		    right: 80px;
		    width: auto;
		    height: 345px;
		}

		@media screen and (max-width: 500px) {
			height: 480px;
			width: 92%;
    		transform: translateX(-50%);
    		left: 50%;
    		min-width: unset;
		}

		@media screen and (max-width: 375px) {
			height: 740px;
		}
	}
	
	.philosophy-text {
		position: relative;
		z-index: 2;
		max-width: 680px;
		padding: 15px;
		
		h3 {
			margin-bottom: 30px;
		}

		@media screen and (max-width: 1024px) {
			margin: 0 auto;
			max-width: 800px;
			padding: 15px 120px;
		}

		@media screen and (max-width: 768px) {
			padding: 15px 150px 150px 100px;
		}

		@media screen and (max-width: 600px) {
			//padding: 15px 130px 150px 70px;
			padding: 0 0 150px 90px;
			width: 75%;
			margin: unset;
		}

		@media screen and (max-width: 500px) {
			padding: 15px 0 150px 0;
    		margin: 0 auto;
		}
	}
}


/**************** Podcast *****************/

#podcast {
	position: relative;
    top: -90px;
    height: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;

	.squiggles {
		background: url(assets/svg/squiggles-gradient.svg);
	    background-repeat: no-repeat;
	    background-position: center;
	    height: 1285px;
	    width: 100%;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		z-index: -200;
	}
	
	.shadow-box {
		width: 920px;
		height: 600px;
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		//transition: all 1s cubic-bezier(.39,-0.17,.19,1.38);


		@media screen and (max-width: 768px) {
			width: 720px;
    		//height: 760px;
    		height: unset;
    		margin: 20px;
		}

		@media screen and (max-width: 500px) {
			width: 92%;
			margin: 20px 0;
		}

		
		.travlos-logo {
			position: absolute;
			width: 400px;
			top: 50%;
			transform: translateY(-50%);
			left: -120px;
			//transition: all 1s cubic-bezier(.39,-0.17,.19,1.38);

			@media screen and (max-width: 1024px) {
				width: 310px;
				left: -40px;

			}

			@media screen and (max-width: 768px) {
				top: 26px;
				transform: translate(-50%, -50%);
				left: 50%;
				width: 330px;
			}

			@media screen and (max-width: 375px) {
				max-width: 280px;
			}

			img {
				@media screen and (max-width: 768px) {
					margin: 15px;
				}
			}
		}
	}
	
	svg {
		height: 100%;
	}

	.podcast-text {
		position: relative;
		width: 62%;
		padding-right: 70px;
		//transition: all 1s cubic-bezier(.39,-0.17,.19,1.38);

		@media screen and (max-width: 768px) {
		    //top: 70px;
		    top: 0;
		    margin: 0 auto;
		    //padding: 0;
		    padding: 270px 0 140px;
		    width: 75%;
		    min-width: 230px;
		}

		@media screen and (max-width: 375px) {
			padding: 220px 0 140px;
			min-width: unset;
		}
		
	
		p {
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}
}

/**************** Footer *****************/

footer {
	text-align: center;
	margin: 60px 20px 130px;
	
	h4 {
		max-width: 490px;
		font-family: 'Rockwell-Bold', serif;
		font-size: 24px;
		color: $midnight;
		margin-bottom: 30px;
		line-height: 1.4em;
		letter-spacing: 0.23px;
	}
}


