
@font-face {
  font-family: 'CircularPro-Bold';
  src: url('CircularPro-Bold.eot?#iefix') format('embedded-opentype'),  url('CircularPro-Bold.otf')  format('opentype'),
	     url('CircularPro-Bold.woff') format('woff'), url('CircularPro-Bold.ttf')  format('truetype'), url('CircularPro-Bold.svg#CircularPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
